@import "tailwindcss";

:root {
  font-family: 'inter', sans-serif;
  --clr-primary: #161616;
  --clr-accent: #f9f9f9;
  --clr-neutral: #767676;

  --ff-primary:  sans-serif;
  --ff-body:  sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-light: 200;

  --fs-display: 2.875rem;
  --fs-heading: 2.25rem;
  --fs-semi-heading: 1.8rem;
  --fs-body: 1.125rem;
  --fs-mini: .875rem;
  --fs-btn: 1.5rem;



  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: var(--fs-display);
}
body{
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}
